<%args>
@tags => () 
</%args>
<%init>
my $posts = Shim::Tools::fetch_posts();
</%init>
% use lib $ENV{DOCUMENT_ROOT};
% use Shim::Tools;
% use DateTime;
% if (!($ENV{REMOTE_USER})) {
<div class='corner'>Site owner? <a href=/logged-in/splash>Log In</a></div>
% }
% if (@tags) {
<h3>Narrowed by:</h3>
% for (@tags) {
<ul>
    <li><% $_ %></li>
</ul>
% }
% }
% else {
<h3>Showing all posts.</h3>
% }
<ul>
% for (@$posts) {
<li><a href=<% $ENV{REMOTE_USER} ? 
    "/logged-in/posts/" : 
    "/posts/" %><% $_->id %>>
    <% $_->title %>
    </a>
</li>
% }
</ul>
