<%args>
$tags => "";
</%args>
<%shared>
use lib $ENV{DOCUMENT_ROOT};
use Shim::Tools;
my $posts;
my $tags = $m->request_args->{tags};
my @tags;
if ($tags) {
@tags = split /,/ => $tags;
for (@tags) {
$_ =~ s/^\s+|\s+$//g; #trim outer whitespace
$m->abort(500) if $_ =~ /\S+\s+\S+/; #error on inner whitespace
}
@tags = map { lc } @tags;
$posts = fetch_posts(posts_with_tags(@tags));
}
else {
$posts = Shim::Tools::fetch_posts();
}
my $summary_aref = Shim::Tools::fetch_posts('summary');
my $summary = @$summary_aref[0];
</%shared>
% use DateTime;
% use Text::Markdown qw!markdown!;
% if ($ENV{REMOTE_USER}) {
<div class='sidebar'><a href='/logged-in/new-post'>New Post</a></div>
<div class='sidebar'><a href='/logged-in/edit-summary'>Edit Summary</a></div>
% } 
% else {
<div class='corner'>Is that you? <a href=/logged-in/splash>Log in</a></div>
% }
<div id = 'summary'>
    <% markdown($summary->body) %>
</div>
<div class='posts'>
% if (@tags) {
<h3>Narrowed by:</h3>
% for (@tags) {
<ul>
    <li><% $_ %></li>
</ul>
% }
<div class="tags"><a href = '<% $m->base_comp->dir_path %>'>Clear tags</a></div>
% }
% else {
<h3>Showing all posts.</h3>
<form action = "<% $m->base_comp->dir_path  %>" method = 'GET'>
    Narrow by tag (comma separated): <input type = text name = 'tags'>
    <button type = "submit">Go</button><span class="tags"><a href="/all-tags">Browse Tags</a></span>
</form>
% }
% my $post_count = 0;
% if ($posts) {
<ul>
% for (sort { $b->id <=> $a->id } @$posts) {
% next if ($_->id eq 'summary' );
% $post_count++;
<li>
<a href=
% if ($ENV{REMOTE_USER}) {
"/logged-in/view-post?id=<% $_->id %>"
% } 
% else {
"/view-post?id=<% $_->id %>"
% }
    >
<% DateTime->from_epoch(epoch=>$_->id, time_zone => 'America/Chicago')->mdy . " - " . $_->title %>
</a>
</li>
% }
</ul>
% }
% unless ($post_count) {
<p class="emph">No posts found</p>
% }
</div>
% $m->call_next if $m->fetch_next;
<%method title><% $summary->title %></%method>
<%method keywords><% join "," => $summary->tags %></%method>
