<%args>
$tags => "";
</%args>
<%shared>
use lib $ENV{DOCUMENT_ROOT};
use Shim::Tools;
my $posts;
my $tags = $m->request_args->{tags};
my @tags;
if ($tags) {
@tags = split /,/ => $tags;
$_ =~ s/^\s+|\s+$//g for @tags; 
@tags = map { lc } @tags;
$posts = fetch_posts(posts_with_tags(@tags));
}
else {
$posts = Shim::Tools::fetch_posts();
}
my $summary_aref = Shim::Tools::fetch_posts('summary');
my $summary = @$summary_aref[0];
</%shared>
% use DateTime;
% use Text::Markdown qw!markdown!;
% if ($ENV{REMOTE_USER}) {
<div><a href='/logged-in/new-post'>New Post</a></div>
<div><a href='/logged-in/edit-summary'>Edit Summary</a></div>
% } 
% else {
<div class='corner'>Site owner? <a href=/logged-in/splash>Log In</a></div>
% }
<div id = "summary">
    <h2><% $summary->title %></h2>
    <% markdown($summary->body) %>
</div>
% if (@tags) {
<h3>Narrowed by:</h3>
% for (@tags) {
<ul>
    <li><% $_ %></li>
</ul>
% }
<div><a href = '<% $m->callers(1)->dir_path %>'>Clear tags</div>
% }
% else {
<h3>Showing all posts.</h3>
<form action = "<% $m->callers(1)->dir_path  %>" method = 'GET'>
    <div>Narrow by tag (comma separated): <input type = text name = 'tags'>
    <button type = "submit">Go</button>
    </div>
</form>
% }

<ul>
% for (@$posts) {
<li>
<a href=
% if ($ENV{REMOTE_USER}) {
"/logged-in/view-post?id=<% $_->id %>"
% } 
% else {
"/view-post?id=<% $_->id %>"
% }
    >
<% DateTime->from_epoch(epoch=>$_->id, time_zone => 'America/Chicago')->mdy . " - " . $_->title %>
</a>
</li>
% }
</ul>
% $m->callers(1);
<%method title><% $summary->title %></%method>
<%method keywords><% join "," => $summary->tags %></%method>
