body {
    font-family:sans-serif;
    background-color:HSL(300,10%,85%);
}
blockquote {
    background-color:HSL(300,10%,75%);
    border:1px solid black;
    border-radius:5px;
}
.corner {
    position:relative;
    top:10px;
    bottom:10px;
}
#summary {
    text-align:center;
}
#tags {
    font-size:90%;
}
