body {
    font-family:sans-serif;
    background-color:HSL(120,50%,85%);
}
pre {
    background-color:HSL(120,50%,80%);
    display:inline-block;
    border:1px solid black;
    border-radius:5px;
    position:relative;
    left:7px;
    padding:10px;
    padding-right:70px;
}
.corner {
    position:relative;
    top:10px;
    bottom:10px;
}
.tags {
    font-size:90%;
}
.emph {
    font-style:italic;
}
.posts {
    display:block;
    background-color:HSL(120,20%,75%);
}
#summary {
    text-align:center;
}
